CompileFlags:
  Remove:
    # xtensa newlib headers conflict with host libc (e.g. div_t, u_int64_t)
    - "-I/home/itsfuad/.platformio/packages/toolchain-xtensa/include"
    # xtensa compiler flags clangd doesn't understand
    - "-mlongcalls"
    - "-mtext-section-literals"
    - "-falign-functions=4"
    - "-free"
    - "-fipa-pta"
  Add:
    - "-Wno-unknown-warning-option"
    - "-Wno-error=return-type"
    - "-DDESKMATE_ESP8266"
    - "-DARDUINOJSON_USE_DOUBLE=0"
    - "--include-directory=/home/itsfuad/Dev/Arduino/ESP8266/DeskMonitor/Deskmate/src"
    - "--include-directory=/home/itsfuad/Dev/Arduino/ESP8266/DeskMonitor/Deskmate/src/app"
    - "--include-directory=/home/itsfuad/Dev/Arduino/ESP8266/DeskMonitor/Deskmate/src/boards"
    - "--include-directory=/home/itsfuad/Dev/Arduino/ESP8266/DeskMonitor/Deskmate/src/boot"
    - "--include-directory=/home/itsfuad/Dev/Arduino/ESP8266/DeskMonitor/Deskmate/src/core"
    - "--include-directory=/home/itsfuad/Dev/Arduino/ESP8266/DeskMonitor/Deskmate/src/display"
    - "--include-directory=/home/itsfuad/Dev/Arduino/ESP8266/DeskMonitor/Deskmate/src/ota"
    - "--include-directory=/home/itsfuad/Dev/Arduino/ESP8266/DeskMonitor/Deskmate/src/platform"
    - "--include-directory=/home/itsfuad/Dev/Arduino/ESP8266/DeskMonitor/Deskmate/src/web"
    - "--include-directory=/home/itsfuad/Dev/Arduino/ESP8266/DeskMonitor/Deskmate/src/features/github"
    - "--include-directory=/home/itsfuad/Dev/Arduino/ESP8266/DeskMonitor/Deskmate/src/features/network"
    - "--include-directory=/home/itsfuad/Dev/Arduino/ESP8266/DeskMonitor/Deskmate/src/features/radar"
    - "--include-directory=/home/itsfuad/Dev/Arduino/ESP8266/DeskMonitor/Deskmate/src/features/weather"
    - "--include-directory=/home/itsfuad/Dev/Arduino/ESP8266/DeskMonitor/Deskmate/.pio/libdeps/deskmate/ArduinoJson/src"
    - "--include-directory=/home/itsfuad/Dev/Arduino/ESP8266/DeskMonitor/Deskmate/.pio/libdeps/deskmate/GFX Library for Arduino/src"
    - "--include-directory=/home/itsfuad/Dev/Arduino/ESP8266/DeskMonitor/Deskmate/.pio/libdeps/deskmate/Adafruit GFX Library"
    - "--include-directory=/home/itsfuad/Dev/Arduino/ESP8266/DeskMonitor/Deskmate/.pio/libdeps/deskmate/Adafruit BusIO"
    - "--include-directory=/home/itsfuad/.platformio/packages/framework-arduinoespressif8266/cores/esp8266"
    - "--include-directory=/home/itsfuad/.platformio/packages/framework-arduinoespressif8266/variants/generic"
    - "--include-directory=/home/itsfuad/.platformio/packages/framework-arduinoespressif8266/libraries/ESP8266WiFi/src"
    - "--include-directory=/home/itsfuad/.platformio/packages/framework-arduinoespressif8266/libraries/ESP8266WebServer/src"
    - "--include-directory=/home/itsfuad/.platformio/packages/framework-arduinoespressif8266/libraries/ESP8266HTTPClient/src"
    - "--include-directory=/home/itsfuad/.platformio/packages/framework-arduinoespressif8266/libraries/ESP8266HTTPUpdateServer/src"
    - "--include-directory=/home/itsfuad/.platformio/packages/framework-arduinoespressif8266/libraries/ESP8266httpUpdate/src"
    - "--include-directory=/home/itsfuad/.platformio/packages/framework-arduinoespressif8266/libraries/ESP8266mDNS/src"
    - "--include-directory=/home/itsfuad/.platformio/packages/framework-arduinoespressif8266/libraries/DNSServer/src"
    - "--include-directory=/home/itsfuad/.platformio/packages/framework-arduinoespressif8266/libraries/LittleFS/src"
    - "--include-directory=/home/itsfuad/.platformio/packages/framework-arduinoespressif8266/libraries/SPI"
    - "--include-directory=/home/itsfuad/.platformio/packages/framework-arduinoespressif8266/libraries/Wire"
    - "--include-directory=/home/itsfuad/.platformio/packages/framework-arduinoespressif8266/tools/sdk/include"
    - "--include-directory=/home/itsfuad/.platformio/packages/framework-arduinoespressif8266/tools/sdk/lwip2/include"
    - "--include-directory=/home/itsfuad/.platformio/packages/framework-arduinoespressif8266/tools/sdk/ssl/bearssl/inc"
