CompileFlags:
  Remove:
    # xtensa newlib headers conflict with host libc (e.g. div_t, u_int64_t)
    - "-I/home/itsfuad/.platformio/packages/toolchain-xtensa/include"
    # xtensa compiler flags clangd doesn't understand
    - "-mlongcalls"
    - "-mtext-section-literals"
    - "-falign-functions=4"
    - "-free"
    - "-fipa-pta"
  Add:
    - "-Wno-unknown-warning-option"
    - "-Wno-error=return-type"
    - "-D DESKMATE_ESP8266"
    - "-D ARDUINOJSON_USE_DOUBLE=0"
    - "-I src"
    - "-I src/app"
    - "-I src/boards"
    - "-I src/boot"
    - "-I src/core"
    - "-I src/display"
    - "-I src/ota"
    - "-I src/platform"
    - "-I src/web"
    - "-I src/features/github"
    - "-I src/features/network"
    - "-I src/features/radar"
    - "-I src/features/weather"
    - "-I .pio/libdeps/deskmate/ArduinoJson/src"
    - "-I .pio/libdeps/deskmate/GFX Library for Arduino/src"
    - "-I .pio/libdeps/deskmate/Adafruit GFX Library"
    - "-I .pio/libdeps/deskmate/Adafruit BusIO"
    - "-I /home/itsfuad/.platformio/packages/framework-arduinoespressif8266/cores/esp8266"
    - "-I /home/itsfuad/.platformio/packages/framework-arduinoespressif8266/variants/generic"
    - "-I /home/itsfuad/.platformio/packages/framework-arduinoespressif8266/libraries/ESP8266WiFi/src"
    - "-I /home/itsfuad/.platformio/packages/framework-arduinoespressif8266/libraries/ESP8266WebServer/src"
    - "-I /home/itsfuad/.platformio/packages/framework-arduinoespressif8266/libraries/ESP8266HTTPClient/src"
    - "-I /home/itsfuad/.platformio/packages/framework-arduinoespressif8266/libraries/ESP8266HTTPUpdateServer/src"
    - "-I /home/itsfuad/.platformio/packages/framework-arduinoespressif8266/libraries/ESP8266httpUpdate/src"
    - "-I /home/itsfuad/.platformio/packages/framework-arduinoespressif8266/libraries/ESP8266mDNS/src"
    - "-I /home/itsfuad/.platformio/packages/framework-arduinoespressif8266/libraries/DNSServer/src"
    - "-I /home/itsfuad/.platformio/packages/framework-arduinoespressif8266/libraries/LittleFS/src"
    - "-I /home/itsfuad/.platformio/packages/framework-arduinoespressif8266/libraries/SPI"
    - "-I /home/itsfuad/.platformio/packages/framework-arduinoespressif8266/libraries/Wire"
    - "-I /home/itsfuad/.platformio/packages/framework-arduinoespressif8266/tools/sdk/include"
    - "-I /home/itsfuad/.platformio/packages/framework-arduinoespressif8266/tools/sdk/lwip2/include"
    - "-I /home/itsfuad/.platformio/packages/framework-arduinoespressif8266/tools/sdk/ssl/bearssl/inc"
